body {
	/*background-image: url(1.jpg);*/
    background-color: #091921;
}
h1 {
	width: 84%;
	margin: auto;
	padding: 10px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 50px;
	color: #ffffff;
}
.container > div {
	float: left;
	width: calc(20% - 10px);
	margin: 40px 40px 40px 0;
	background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.3));
	width: 350px;
	height: 350px;
	position: relative;
	border-radius: 3rem;
}
.container h2 {
	width: 84%;
	margin: auto;
	padding: 10px 0;
	display: flex;
    text-align: center;
	align-items: center;
	font-size: 50px;
	color: #ffffff;
}
.container p {
	font-weight: 30;
	padding: 24px;
	font-size: 1.5em;
	color: #ffffff;
}
