$optionDefaultColours: #ED5565,#FC6E51,#FFCE54,#2ECC71,#5D9CEC,#AC92EC;


 .label {
	bottom: 10px;
	left: 10px;
	.info >div {
                  left: 20px;
	opacity: 0;
}
            }
         }

.shadow {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 120px;
	transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.label {
	display: flex;
	position: absolute;
	right: 0px;
	height: 40px;
	transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
	.icon {
               display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	min-width: 40px;
	max-width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: white;
	color: var(--defaultBackground);
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 10px;
	color: white;
	white-space: pre;
	>div {
                  position: relative;
	transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity .5s ease-out;
}

.main {
	font-weight: bold;
	font-size: 1.2rem;
}

.sub {
	transition-delay: .1s;
}
            }
         }
      }
   }
}